/* 

--- 01 TYPOGRAPHY SYSTEM
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 128 / 154
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
- Letter Spacing
-0.5px
0.75px
--- 02 COLORS
- Primary: #e67e22  
- Tints: 
#1a1a1a
#333333
#eb984e
- Shades: 
- Accents: linear-gradient(to right, #ff0f7b, #f89b29)
- Greys:
#888
#767676 (Lighest grey allowed on #fff)
#6f6f6f (Lightest grey allowed on #fdf2e9)
#555
#333
--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
--- 06 BORDER-RADIUS
Default: 9px
Medium: 11px
--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  position: relative;
}

input:focus {
  outline: none;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
